#nav-bar {
    width: 100%;
    height: 5%;
    position: fixed;
    background-color: #140057;
    box-shadow: 0px 5px 10px 0px #aaa;
    padding: 0px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
#nav-container-primary{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#container-line-bar{
    visibility: hidden;
}
#nav-container-secundary{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
#container-secundary-row-icons{
    width: auto;
    height: auto;
    padding: 5px;
}