#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 18px;
    left: 20px;
    width: 25px;
    height: 15px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #44027E;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition-duration: .25s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
  .menu__item p{
    margin: 5px 0px 2px 5px;
  }
  .menu__item:hover {
    background-color: #340261;
    color: white
  }

/*
#header-menu-hamburger {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
}
.visible {
    width: auto;
    height: auto;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
.hidden {
    display: none
}

#body-menu-hamburger-visible {
    width: 20%;
    height: 90%;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: #44027E;
    list-style: none;
}

#body-menu-hamburger-visible li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#body-menu-hamburger-visible li ul {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#body-menu-hamburger-hidden {
    display: none;
}

#body-menu-hamburger-hidden li {
    display: none;
}

#body-menu-hamburger-hidden li ul {
    display: none;
}
*/