.background {
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  filter: blur(5px);
  background-image: url('../../Images/backgroundHome.jpg');
  position: fixed;
  z-index: -1;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  width: 100%;
  height: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-two {
  width: 100%;
  height: 16%;
  display: flex;
  justify-content: center;
}
.row-two p  {
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  font-size: x-large;
  font-weight: 500;
  color: white;
}

.button {
  width: 20%;
  height: 40%;
  border-radius: 100px;
  font-size: 2vw;
  font-weight: 500;
  text-align: center;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #140057;
  color: white;
  cursor: pointer;
}

.button:active {
  background-color: #44027E;
  color: white;
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.typing-demo {
    max-width: min-content;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: Helvetica;
    font-weight: 600;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 10vh;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }